# Python files
__pycache__/ # Byte-compiled / optimized / DLL files
*.py[cod] # Byte-compiled / optimized / DLL files
*.so # C extensions
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# R PROJECT
/.Rproj.user
/.RData
/.Rhistory
*-Ex.R # Example code in package build process
/*.tar.gz # Output files from R CMD build
/*.Rcheck/ # Output files from R CMD check
.Rproj.user/ # RStudio files
vignettes/*.html # produced vignettes
vignettes/*.pdf # produced vignettes
.httr-oauth # OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
/*_cache/ # knitr and R markdown default cache directories
/cache/ # knitr and R markdown default cache directories
*.utf8.md # Temporary files created by R markdown
*.knit.md # Temporary files created by R markdown

# exclude data from source control by default
/data
/input
/output

# exclude temporal files
*.pid
*.log
 


